/* .bg-info{
    background-color: #003360 !important;
} */
.bg-info img{
    border-radius: 50%;
    /* color: #035097; */
}
.bg-info a{
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
}